.sidebar{
    width: 265px;
    background: #1a2035!important;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    color: #fff;
    font-weight: 200;
    z-index: 1002;
}
.logo-header{
    width: 265px;
    height: 70px;
    color: #333;
    font-size: 17px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: flex;
    align-items: center;
}
.logo-header .logo{
    color: #faafaf;
    opacity: 1;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: unset;
}